/*
 * Copyright 2016 WinSystems, Inc.
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "imx6dl-pinfunc.h"
#include "imx6dl.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>

#define GP_SD1_CS           <&gpio1 1 GPIO_ACTIVE_LOW>
#define GP_BL1_ENBL         <&gpio1 5 GPIO_ACTIVE_HIGH>
#define GP_BL2_ENBL         <&gpio7 13 GPIO_ACTIVE_HIGH>
#define GP_LED_USER         <&gpio1 26 GPIO_ACTIVE_HIGH>
#define GP_CAN2_SILENT      <&gpio1 27 GPIO_ACTIVE_HIGH>
#define GP_ENET_PHY_INT     <&gpio1 28 GPIO_ACTIVE_LOW>
#define GP_CAN1_SILENT      <&gpio1 29 GPIO_ACTIVE_HIGH>
#define GP_SPI1_SS0         <&gpio2 30 GPIO_ACTIVE_HIGH>
#define GP_SPI3_SS0         <&gpio4 24 GPIO_ACTIVE_HIGH>
#define GP_SPI3_SS1         <&gpio4 25 GPIO_ACTIVE_HIGH>
#define GP_SPI3_SS2         <&gpio4 26 GPIO_ACTIVE_HIGH>
#define GP_SPI3_SS3         <&gpio4 27 GPIO_ACTIVE_HIGH>
#define GP_OTG_PWR_EN       <&gpio6 7 GPIO_ACTIVE_HIGH>
#define GP_USB_HUB_RST      <&gpio6 15 GPIO_ACTIVE_LOW>
#define GP_ENET_PHY_RESET   <&gpio6 31 GPIO_ACTIVE_LOW>

#define GP_EXP_PCIE_RST     <&max7310_b 5 GPIO_ACTIVE_LOW>
#define GP_EXP_PCIE_DIS     <&max7310_b 6 GPIO_ACTIVE_LOW>


/ {
    model = "WinSystems i.MX6 DL SBC-C398";
    compatible = "fsl,imx6dl-c398", "fsl,imx6dl";
  };

/ {
    aliases {
        mxcfb0 = &mxcfb1;
        mxcfb1 = &mxcfb2;
        mxcfb2 = &mxcfb3;
        mxcfb3 = &mxcfb4;
    };

    backlight@0 {
        compatible = "pwm-backlight";
        pwms = <&pwm1 0 5000000>;
        brightness-levels = <0 4 8 16 32 64 128 255>;
        default-brightness-level = <7>;
        enable-gpios = GP_BL1_ENBL;
    };

    backlight@1 {
        compatible = "pwm-backlight";
        pwms = <&pwm2 0 5000000>;
        brightness-levels = <0 4 8 16 32 64 128 255>;
        default-brightness-level = <5>;
        enable-gpios = GP_BL2_ENBL;
    };

    clocks {
        codec_osc: codec_osc {
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <14318000>;
        };
    };

    leds {
        compatible = "gpio-leds";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_leds>;

        user-led {
            gpios = GP_LED_USER;
            retain-state-suspended;
            default-state = "off";
        };
    };

    memory {
        reg = <0x10000000 0x80000000>;
    };

    mxcfb1: fb@0 {
        compatible = "fsl,mxc_sdc_fb";
        disp_dev = "ldb";
        interface_pix_fmt = "RGB666";
        mode_str = "LDB-WVGA";
        default_bpp = <18>;
        int_clk = <0>;
        late_init = <0>;
        status = "okay";
    };

    mxcfb2: fb@1 {
        compatible = "fsl,mxc_sdc_fb";
        disp_dev = "ldb";
        interface_pix_fmt = "RGB666";
        mode_str = "LDB-WVGA";
        default_bpp = <18>;
        int_clk = <0>;
        late_init = <0>;
        status = "okay";
    };

    mxcfb3: fb@2 {
        compatible = "fsl,mxc_sdc_fb";
        disp_dev = "ldb";
        interface_pix_fmt = "RGB666";
        mode_str = "LDB-WVGA";
        default_bpp = <18>;
        int_clk = <0>;
        late_init = <0>;
        status = "okay";
    };

    mxcfb4: fb@3 {
        compatible = "fsl,mxc_sdc_fb";
        disp_dev = "ldb";
        interface_pix_fmt = "RGB566";
        mode_str = "LDB-WVGA";
        default_bpp = <18>;
        int_clk = <0>;
        late_init = <0>;
        status = "okay";
    };

    regulators {
        compatible = "simple-bus";
        #address-cells = <1>;
        #size-cells = <0>;

        reg_p3v3: regulator@0 {
            compatible = "regulator-fixed";
            reg = <0>;
            regulator-name = "reg_p3v3";
            regulator-min-microvolt = <3300000>;
            regulator-max-microvolt = <3300000>;
            regulator-always-on;
        };

        reg_vcc3p3: regulator@1 {
            compatible = "regulator-fixed";
            reg = <1>;
            regulator-name = "reg_vcc3p3";
            regulator-min-microvolt = <3300000>;
            regulator-max-microvolt = <3300000>;
            regulator-always-on;
        };

		reg_otg_pwr: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "reg_otg_pwr";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = GP_OTG_PWR_EN;
			enable-active-high;
		};
    };

    sound {
        compatible = "fsl,imx6dl-c398-sgtl5000",
                 "fsl,imx-audio-sgtl5000";
        model = "sgtl5000-audio";
        ssi-controller = <&ssi2>;
        audio-codec = <&sgtl5000>;
        audio-routing =
            "MIC_IN", "Mic Jack",
            "Mic Jack", "Mic Bias",
            "LINE_IN", "Line In Jack",
            "Line Out Jack", "LINE_OUT", 
            "Headphone Jack", "HP_OUT";
        mux-int-port = <2>;
        mux-ext-port = <5>;
    };

    sound-hdmi {
        compatible = "fsl,imx6q-audio-hdmi",
                 "fsl,imx-audio-hdmi";
        model = "imx-audio-hdmi";
        hdmi-controller = <&hdmi_audio>;
    };

    v4l2_cap_0 {
        compatible = "fsl,imx6q-v4l2-capture";
        ipu_id = <0>;
        csi_id = <0>;
        mclk_source = <0>;
        status = "disabled";
    };

    v4l2_out {
        compatible = "fsl,mxc_v4l2_output";
        status = "okay";
    };
};

&audmux {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_audmux>;
    status = "okay";
};

&ecspi1 {
    fsl,spi-num-chipselects = <1>;
    cs-gpios = GP_SPI1_SS0;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi1>;
    status = "okay";

    flash: m25p80@0 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "st,m25p32";
        reg = <0>;
        spi-max-frequency = <20000000>;

        partition@0 {
            label = "bootloader";
            reg = <0x0 0x100000>;
        };

        partition@1 {
            label = "kernel";
            reg = <0x100000 0x300000>;
        };
    };
};

&ecspi3 {
    fsl,spi-num-chipselects = <4>;
    cs-gpios = GP_SPI3_SS0;
    cs-gpios = GP_SPI3_SS1;
    cs-gpios = GP_SPI3_SS2;
    cs-gpios = GP_SPI3_SS3;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi3>;
    status = "okay";
};

&fec {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_enet>;
    phy-mode = "rgmii";
    phy-handle = <&phy7>;
    #if 0
    phy-reset-gpios = GP_ENET_PHY_RESET;
    #endif
    status = "okay";

    mdio {
        #address-cells = <1>;
        #size-cells = <0>;

        phy7: ethernet-phy@7 {
            compatible = "ethernet-phy-ieee802.3-c22";
            reg = <7>;
        };
    };
};

&can1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_flexcan1>;
    trx-stby-gpio = GP_CAN1_SILENT;
    status = "okay";
};

&can2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_flexcan2>;
    trx-stby-gpio = GP_CAN2_SILENT;
    status = "okay";
};

&gpc {
    fsl,ldo-bypass = <1>;
    fsl,wdog-reset = <1>;
};

&hdmi_audio {
    status = "okay";
};

/*
&hdmi_cec {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_hdmi_cec>;
    status = "okay";
};
*/

&hdmi_core {
    ipu_id = <0>;
    disp_id = <0>;
    status = "okay";
};

&hdmi_video {
    fsl,phy_reg_vlev = <0x0294>;
    fsl,phy_reg_cksymtx = <0x800d>;
    status = "okay";
};

&i2c1 {
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c1>;
    status = "okay";

    sgtl5000: sgtl5000@0a {
        compatible = "fsl,sgtl5000";
        reg = <0x0a>;
        VDDA-supply = <&reg_vcc3p3>;
        VDDIO-supply = <&reg_vcc3p3>;
        clocks = <&codec_osc>;
    };

    max7310_a: gpio@30 {
        compatible = "maxim,max7310";
        reg = <0x30>;
        gpio-controller;
        #gpio-cells = <2>;
    };

    max7310_b: gpio@32 {
        compatible = "maxim,max7310";
        reg = <0x32>;
        gpio-controller;
        #gpio-cells = <2>;
    };

    max7310_c: gpio@34 {
        compatible = "maxim,max7310";
        reg = <0x34>;
        gpio-controller;
        #gpio-cells = <2>;
    };

    pmic: pfuze100@08 {
        compatible = "fsl,pfuze100";
        reg = <0x08>;

        regulators {
            sw1a_reg: sw1ab {
                regulator-min-microvolt = <300000>;
                regulator-max-microvolt = <1875000>;
                regulator-boot-on;
                regulator-always-on;
                regulator-ramp-delay = <6250>;
            };

            sw1c_reg: sw1c {
                regulator-min-microvolt = <300000>;
                regulator-max-microvolt = <1875000>;
                regulator-boot-on;
                regulator-always-on;
                regulator-ramp-delay = <6250>;
            };

            sw2_reg: sw2 {
                regulator-min-microvolt = <800000>;
                regulator-max-microvolt = <3300000>;
                regulator-boot-on;
                regulator-always-on;
            };

            sw3a_reg: sw3a {
                regulator-min-microvolt = <400000>;
                regulator-max-microvolt = <1975000>;
                regulator-boot-on;
                regulator-always-on;
            };

            sw3b_reg: sw3b {
                regulator-min-microvolt = <400000>;
                regulator-max-microvolt = <1975000>;
                regulator-boot-on;
                regulator-always-on;
            };

            sw4_reg: sw4 {
                regulator-min-microvolt = <800000>;
                regulator-max-microvolt = <3300000>;
            };

            swbst_reg: swbst {
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5150000>;
            };

            snvs_reg: vsnvs {
                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3000000>;
                regulator-boot-on;
                regulator-always-on;
            };

            vref_reg: vrefddr {
                regulator-boot-on;
                regulator-always-on;
            };

            vgen1_reg: vgen1 {
                regulator-min-microvolt = <800000>;
                regulator-max-microvolt = <1550000>;
            };

            vgen2_reg: vgen2 {
                regulator-min-microvolt = <800000>;
                regulator-max-microvolt = <1550000>;
            };

            vgen3_reg: vgen3 {
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <3300000>;
            };

            vgen4_reg: vgen4 {
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
            };

            vgen5_reg: vgen5 {
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
            };

            vgen6_reg: vgen6 {
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
            };
        };
    };
};

&i2c2 {
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c2>;
    status = "okay";

    hdmi_i2c: edid@50 {
        compatible = "fsl,imx6-hdmi-i2c";
        reg = <0x50>;
    };
};

&i2c3 {
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c3>;
    status = "okay";
};

&iomuxc {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_hog>;

    imx6dl-c398 {
        pinctrl_audmux: audmuxgrp {
            fsl,pins = <  
                MX6QDL_PAD_DISP0_DAT16__AUD5_TXC       0x130b0
                MX6QDL_PAD_DISP0_DAT17__AUD5_TXD       0x130b0
                MX6QDL_PAD_DISP0_DAT18__AUD5_TXFS      0x130b0
                MX6QDL_PAD_DISP0_DAT19__AUD5_RXD       0x130b0
            >;
        };

        pinctrl_epit: epitgrp {
            fsl,pins = <  
                MX6QDL_PAD_GPIO_7__EPIT1_OUT           0x80000000
                MX6QDL_PAD_GPIO_8__EPIT2_OUT           0x80000000
            >;
        };

        pinctrl_ecspi1: ecspi1grp {
            fsl,pins = <
                MX6QDL_PAD_EIM_D16__ECSPI1_SCLK        0x100b1
                MX6QDL_PAD_EIM_D17__ECSPI1_MISO        0x100b1
                MX6QDL_PAD_EIM_D18__ECSPI1_MOSI        0x100b1
                MX6QDL_PAD_EIM_EB2__GPIO2_IO30         0x80000000  /* cs0 */
                MX6QDL_PAD_DISP0_DAT15__ECSPI1_SS1     0x100b1     /* cs1 unused */
            >;
        };

        pinctrl_ecspi3: ecspi3grp {
            fsl,pins = <
                MX6QDL_PAD_DISP0_DAT0__ECSPI3_SCLK     0x100b1
                MX6QDL_PAD_DISP0_DAT2__ECSPI3_MISO     0x100b1
                MX6QDL_PAD_DISP0_DAT1__ECSPI3_MOSI     0x100b1
                MX6QDL_PAD_DISP0_DAT3__GPIO4_IO24      0x80000000  /* cs0 */
                MX6QDL_PAD_DISP0_DAT4__GPIO4_IO25      0x80000000  /* cs1 */
                MX6QDL_PAD_DISP0_DAT5__GPIO4_IO26      0x80000000  /* cs2 */
                MX6QDL_PAD_DISP0_DAT6__GPIO4_IO27      0x80000000  /* cs3 */
                MX6QDL_PAD_DISP0_DAT7__ECSPI3_RDY      0x100b1
            >;
        };

        pinctrl_enet: enetgrp {
            fsl,pins = <
                MX6QDL_PAD_ENET_MDIO__ENET_MDIO        0x1b0b0
                MX6QDL_PAD_ENET_MDC__ENET_MDC          0x1b0b0
                MX6QDL_PAD_RGMII_TXC__RGMII_TXC        0x1b0b0
                MX6QDL_PAD_RGMII_TD0__RGMII_TD0        0x1b0b0
                MX6QDL_PAD_RGMII_TD1__RGMII_TD1        0x1b0b0
                MX6QDL_PAD_RGMII_TD2__RGMII_TD2        0x1b0b0
                MX6QDL_PAD_RGMII_TD3__RGMII_TD3        0x1b0b0
                MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL  0x1b0b0
                MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK   0x1b0b0
                MX6QDL_PAD_RGMII_RXC__RGMII_RXC        0x1b0b0
                MX6QDL_PAD_RGMII_RD0__RGMII_RD0        0x1b0b0
                MX6QDL_PAD_RGMII_RD1__RGMII_RD1        0x1b0b0
                MX6QDL_PAD_RGMII_RD2__RGMII_RD2        0x1b0b0
                MX6QDL_PAD_RGMII_RD3__RGMII_RD3        0x1b0b0
                MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL  0x1b0b0
                MX6QDL_PAD_EIM_BCLK__GPIO6_IO31        0x1b0b0      /* Micrel RGMII Phy Reset */
                MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28      0x000b1      /* Micrel RGMII Phy Interrupt */
            >;
        };

        pinctrl_flexcan1: flexcan1grp {
            fsl,pins = <
                MX6QDL_PAD_KEY_COL2__FLEXCAN1_TX       0x1b0b0
                MX6QDL_PAD_KEY_ROW2__FLEXCAN1_RX       0x1b0b0
            >;
        };

        pinctrl_flexcan2: flexcan2grp {
            fsl,pins = <
                MX6QDL_PAD_SD3_DAT0__FLEXCAN2_TX       0x1b0b0
                MX6QDL_PAD_SD3_DAT1__FLEXCAN2_RX       0x1b0b0
            >;
        };
	
	/*
        pinctrl_hdmi_cec: hdmicecgrp {
            fsl,pins = <
                MX6QDL_PAD_KEY_ROW2__HDMI_TX_CEC_LINE  0x1f8b0
            >;
        };
	*/

        pinctrl_hdmi_hdcp: hdmihdcpgrp {
            fsl,pins = <
                MX6QDL_PAD_KEY_COL3__HDMI_TX_DDC_SCL   0x4001b8b1
                MX6QDL_PAD_KEY_ROW3__HDMI_TX_DDC_SDA   0x4001b8b1
            >;
        };

        pinctrl_hog: hoggrp {
            fsl,pins = < 
                MX6QDL_PAD_GPIO_4__GPIO1_IO04          0x010b0     /* LVDS - Power Enable */
                MX6QDL_PAD_GPIO_5__GPIO1_IO05          0x030b0     /* LVDS0 - Backlight Control */
                MX6QDL_PAD_ENET_RXD0__GPIO1_IO27       0x010b0     /* CAN2 Silent */
                MX6QDL_PAD_ENET_TXD1__GPIO1_IO29       0x010b0     /* CAN1 Silent */
                MX6QDL_PAD_DI0_DISP_CLK__GPIO4_IO16    0x80000000  /* DIO0 */
                MX6QDL_PAD_DI0_PIN15__GPIO4_IO17       0x80000000  /* DIO1 */
                MX6QDL_PAD_DI0_PIN2__GPIO4_IO18        0x80000000  /* DIO2 */
                MX6QDL_PAD_DI0_PIN3__GPIO4_IO19        0x80000000  /* DIO3 */
                MX6QDL_PAD_DI0_PIN4__GPIO4_IO20        0x80000000  /* DIO4 */
                MX6QDL_PAD_DISP0_DAT10__GPIO4_IO31     0x80000000  /* DIO5 */
                MX6QDL_PAD_DISP0_DAT11__GPIO5_IO05     0x80000000  /* DIO6 */
                MX6QDL_PAD_DISP0_DAT12__GPIO5_IO06     0x80000000  /* DIO7 */
                MX6QDL_PAD_DISP0_DAT13__GPIO5_IO07     0x80000000  /* DIO8 */
                MX6QDL_PAD_DISP0_DAT14__GPIO5_IO08     0x80000000  /* DIO9 */
                MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18     0x80000000  /* DIO10 */
                MX6QDL_PAD_CSI0_MCLK__GPIO5_IO19       0x80000000  /* DIO11 */
                MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20    0x80000000  /* DIO12 */
                MX6QDL_PAD_CSI0_VSYNC__GPIO5_IO21      0x80000000  /* DIO13 */
                MX6QDL_PAD_CSI0_DAT4__GPIO5_IO22       0x80000000  /* DIO14 */
                MX6QDL_PAD_CSI0_DAT5__GPIO5_IO23       0x80000000  /* DIO15 */
                MX6QDL_PAD_CSI0_DAT6__GPIO5_IO24       0x80000000  /* DIO16 */
                MX6QDL_PAD_CSI0_DAT7__GPIO5_IO25       0x80000000  /* DIO17 */
                MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30      0x80000000  /* DIO18 */
                MX6QDL_PAD_CSI0_DAT13__GPIO5_IO31      0x80000000  /* DIO19 */
                MX6QDL_PAD_CSI0_DAT14__GPIO6_IO00      0x80000000  /* DIO20 */
                MX6QDL_PAD_CSI0_DAT15__GPIO6_IO01      0x80000000  /* DIO21 */
                MX6QDL_PAD_CSI0_DAT18__GPIO6_IO04      0x80000000  /* DIO22 */
                MX6QDL_PAD_CSI0_DAT19__GPIO6_IO05      0x80000000  /* DIO23 */
                MX6QDL_PAD_NANDF_CLE__GPIO6_IO07       0x030b0     /* USB OTG Power Enable */
                MX6QDL_PAD_NANDF_ALE__GPIO6_IO08       0x80000000  /* User Jumper */
                MX6QDL_PAD_NANDF_CS0__GPIO6_IO11       0x80000000  /* PMIC Interrupt */
                MX6QDL_PAD_NANDF_CS1__GPIO6_IO14       0x80000000  /* USB OTG Over-Current Sense */
                MX6QDL_PAD_NANDF_CS2__GPIO6_IO15       0x000b0     /* USB Hub Reset */
                MX6QDL_PAD_SD3_DAT5__GPIO7_IO00        0x80000000  /* Exp Bus GPIO 1 */
                MX6QDL_PAD_SD3_DAT4__GPIO7_IO01        0x80000000  /* Exp Bus GPIO 2 */
                MX6QDL_PAD_SD3_CMD__GPIO7_IO02         0x80000000  /* Exp Bus GPIO 3 */
                MX6QDL_PAD_SD3_CLK__GPIO7_IO03         0x80000000  /* Exp Bus GPIO 4 */
                MX6QDL_PAD_SD3_DAT2__GPIO7_IO06        0x80000000  /* Exp Bus GPIO 5 */
                MX6QDL_PAD_SD3_DAT3__GPIO7_IO07        0x80000000  /* Exp Bus GPIO 6 */
                MX6QDL_PAD_SD3_RST__GPIO7_IO08         0x80000000  /* Exp Bus GPIO 7 */
                MX6QDL_PAD_GPIO_16__GPIO7_IO11         0x80000000  /* Exp Bus GPIO 8 */
                MX6QDL_PAD_GPIO_17__GPIO7_IO12         0x80000000  /* Exp Bus GPIO 0, Exp Interrupt? */
                MX6QDL_PAD_GPIO_18__GPIO7_IO13         0x030b0     /* LVDS1 - Backlight Control */
                MX6QDL_PAD_DISP0_DAT8__WDOG1_B         0x100b0     /* watchdog 1 */
            >;
        };

        pinctrl_i2c1: i2c1grp {
            fsl,pins = <
                MX6QDL_PAD_CSI0_DAT8__I2C1_SDA		   0x4001b8b1
                MX6QDL_PAD_CSI0_DAT9__I2C1_SCL		   0x4001b8b1
            >;
        };

        pinctrl_i2c2: i2c2grp {
            fsl,pins = <
                MX6QDL_PAD_KEY_COL3__I2C2_SCL		   0x4001b8b1
                MX6QDL_PAD_KEY_ROW3__I2C2_SDA		   0x4001b8b1
             >;
        };

/*
        pinctrl_i2c3: i2c3grp {
            fsl,pins = <
                MX6QDL_PAD_GPIO_3__I2C3_SCL            0x4001b8b1
                MX6QDL_PAD_GPIO_6__I2C3_SDA            0x4001b8b1
            >;
        };
*/

        pinctrl_ipu1: ipu1grp {
            fsl,pins = <
                MX6QDL_PAD_DI0_DISP_CLK__IPU1_DI0_DISP_CLK 0x10
                MX6QDL_PAD_DI0_PIN15__IPU1_DI0_PIN15       0x10
                MX6QDL_PAD_DI0_PIN2__IPU1_DI0_PIN02        0x10
                MX6QDL_PAD_DI0_PIN3__IPU1_DI0_PIN03        0x10
                MX6QDL_PAD_DI0_PIN4__IPU1_DI0_PIN04        0x80000000
                MX6QDL_PAD_DISP0_DAT0__IPU1_DISP0_DATA00   0x10
                MX6QDL_PAD_DISP0_DAT1__IPU1_DISP0_DATA01   0x10
                MX6QDL_PAD_DISP0_DAT2__IPU1_DISP0_DATA02   0x10
                MX6QDL_PAD_DISP0_DAT3__IPU1_DISP0_DATA03   0x10
                MX6QDL_PAD_DISP0_DAT4__IPU1_DISP0_DATA04   0x10
                MX6QDL_PAD_DISP0_DAT5__IPU1_DISP0_DATA05   0x10
                MX6QDL_PAD_DISP0_DAT6__IPU1_DISP0_DATA06   0x10
                MX6QDL_PAD_DISP0_DAT7__IPU1_DISP0_DATA07   0x10
                MX6QDL_PAD_DISP0_DAT8__IPU1_DISP0_DATA08   0x10
                MX6QDL_PAD_DISP0_DAT9__IPU1_DISP0_DATA09   0x10
                MX6QDL_PAD_DISP0_DAT10__IPU1_DISP0_DATA10  0x10
                MX6QDL_PAD_DISP0_DAT11__IPU1_DISP0_DATA11  0x10
                MX6QDL_PAD_DISP0_DAT12__IPU1_DISP0_DATA12  0x10
                MX6QDL_PAD_DISP0_DAT13__IPU1_DISP0_DATA13  0x10
                MX6QDL_PAD_DISP0_DAT14__IPU1_DISP0_DATA14  0x10
                MX6QDL_PAD_DISP0_DAT15__IPU1_DISP0_DATA15  0x10
                MX6QDL_PAD_DISP0_DAT16__IPU1_DISP0_DATA16  0x10
                MX6QDL_PAD_DISP0_DAT17__IPU1_DISP0_DATA17  0x10
                MX6QDL_PAD_DISP0_DAT18__IPU1_DISP0_DATA18  0x10
                MX6QDL_PAD_DISP0_DAT19__IPU1_DISP0_DATA19  0x10
                MX6QDL_PAD_DISP0_DAT20__IPU1_DISP0_DATA20  0x10
                MX6QDL_PAD_DISP0_DAT21__IPU1_DISP0_DATA21  0x10
                MX6QDL_PAD_DISP0_DAT22__IPU1_DISP0_DATA22  0x10
                MX6QDL_PAD_DISP0_DAT23__IPU1_DISP0_DATA23  0x10
            >;
        };

        pinctrl_leds: ledsgrp {
            fsl,pins = <  
                MX6QDL_PAD_ENET_RXD1__GPIO1_IO26       0x0b0b0  /* user_led */
            >;
        };

        pinctrl_pwm1: pwm1grp {
            fsl,pins = <
                MX6QDL_PAD_GPIO_9__PWM1_OUT            0x1b0b1  /* backlight lvds1 */
            >;
        };

        pinctrl_pwm2: pwm2grp {
            fsl,pins = <
                MX6QDL_PAD_DISP0_DAT9__PWM2_OUT        0x1b0b1  /* backlight lvds2 */
            >;
        };

        pinctrl_pwm3: pwm3grp {
            fsl,pins = <
                MX6QDL_PAD_SD4_DAT1__PWM3_OUT          0x1b0b1
            >;
        };

/*
        pinctrl_pwm4: pwm4grp {
            fsl,pins = <
                MX6QDL_PAD_SD4_DAT2__PWM4_OUT          0x1b0b1
            >;
        };
*/

        pinctrl_uart1: uart1grp {
            fsl,pins = <
                MX6QDL_PAD_CSI0_DAT10__UART1_TX_DATA   0x1b0b1
                MX6QDL_PAD_CSI0_DAT11__UART1_RX_DATA   0x1b0b1
                MX6QDL_PAD_EIM_D19__UART1_CTS_B        0x1b0b1
                MX6QDL_PAD_EIM_D20__UART1_RTS_B        0x1b0b1
                MX6QDL_PAD_EIM_D23__UART1_DCD_B        0x1b0b1
                MX6QDL_PAD_EIM_EB3__UART1_RI_B         0x1b0b1
                MX6QDL_PAD_EIM_D24__UART1_DTR_B        0x1b0b1
                MX6QDL_PAD_EIM_D25__UART1_DSR_B        0x1b0b1
            >;
        };

/*
        pinctrl_uart2: uart2grp {
            fsl,pins = <
                MX6QDL_PAD_EIM_D26__UART2_TX_DATA      0x1b0b1
                MX6QDL_PAD_EIM_D27__UART2_RX_DATA      0x1b0b1
                MX6QDL_PAD_EIM_D28__UART2_CTS_B        0x1b0b1
                MX6QDL_PAD_EIM_D29__UART2_RTS_B        0x1b0b1
            >;
        };

        pinctrl_uart3: uart3grp {
            fsl,pins = <
                MX6QDL_PAD_SD4_CMD__UART3_TX_DATA      0x1b0b1
                MX6QDL_PAD_SD4_CLK__UART3_RX_DATA      0x1b0b1
                MX6QDL_PAD_EIM_D30__UART3_CTS_B        0x1b0b1
                MX6QDL_PAD_EIM_D31__UART3_RTS_B        0x1b0b1
            >;
        };

        pinctrl_uart4: uart4grp {
            fsl,pins = <
                MX6QDL_PAD_KEY_COL0__UART4_TX_DATA     0x1b0b1
                MX6QDL_PAD_KEY_ROW0__UART4_RX_DATA     0x1b0b1
                MX6QDL_PAD_CSI0_DAT17__UART4_CTS_B     0x1b0b1
                MX6QDL_PAD_CSI0_DAT16__UART4_RTS_B     0x1b0b1
            >;
        };

        pinctrl_uart5: uart5grp {
            fsl,pins = <
                MX6QDL_PAD_KEY_COL1__UART5_TX_DATA     0x1b0b1
                MX6QDL_PAD_KEY_ROW1__UART5_RX_DATA     0x1b0b1
                MX6QDL_PAD_KEY_ROW4__UART5_CTS_B       0x1b0b1
                MX6QDL_PAD_KEY_COL4__UART5_RTS_B       0x1b0b1
            >;
        };
*/

        pinctrl_usbotg: usbotggrp {
            fsl,pins = <
                MX6QDL_PAD_ENET_RX_ER__USB_OTG_ID      0x17059
            >;
        };

        pinctrl_usdhc1: usdhc1grp {
            fsl,pins = <
                MX6QDL_PAD_SD1_CLK__SD1_CLK            0x10059
                MX6QDL_PAD_SD1_CMD__SD1_CMD            0x17059
                MX6QDL_PAD_SD1_DAT0__SD1_DATA0         0x17059
                MX6QDL_PAD_SD1_DAT1__SD1_DATA1         0x17059
                MX6QDL_PAD_SD1_DAT2__SD1_DATA2         0x17059
                MX6QDL_PAD_SD1_DAT3__SD1_DATA3         0x17059
                MX6QDL_PAD_GPIO_1__SD1_CD_B            0x17059
            >;
        };

        pinctrl_usdhc2: usdhc2grp {
            fsl,pins = <
                MX6QDL_PAD_SD2_CLK__SD2_CLK            0x10059
                MX6QDL_PAD_SD2_CMD__SD2_CMD            0x17059
                MX6QDL_PAD_SD2_DAT0__SD2_DATA0         0x17059
                MX6QDL_PAD_SD2_DAT1__SD2_DATA1         0x17059
                MX6QDL_PAD_SD2_DAT2__SD2_DATA2         0x17059
                MX6QDL_PAD_SD2_DAT3__SD2_DATA3         0x17059
            >;
        };
    };
};

&ldb {
    primary;
    dual-mode;	/*split-mode;*/

    status = "okay";

    lvds-channel@0 {
        crtc = "ipu1-di1";
        fsl,data-mapping = "spwg";
        fsl,data-width = <18>;
        status = "okay";

        display-timings {
            native-mode = <&timing0>;
            timing0: 800x480 {
                clock-frequency = <65000000>;
                hactive = <800>;
                vactive = <480>;
                hback-porch = <96>;
                hfront-porch = <24>;
                vback-porch = <3>;
                vfront-porch = <10>;
                hsync-len = <72>;
                vsync-len = <7>;
            };
        };
    };

    lvds-channel@1 {
        crtc = "ipu2-di0";
        fsl,data-mapping = "spwg";
        fsl,data-width = <18>;
        status = "okay";

        display-timings {
            native-mode = <&timing1>;
            timing1: 800x480 {
                clock-frequency = <65000000>;
                hactive = <800>;
                vactive = <480>;
                hback-porch = <96>;
                hfront-porch = <24>;
                vback-porch = <3>;
                vfront-porch = <10>;
                hsync-len = <72>;
                vsync-len = <7>;
            };
        };
    };
};

&pcie {
    /*power-on-gpio = GP_EXP_PCIE_DIS;*/
    reset-gpio = GP_EXP_PCIE_RST;
    status = "okay";
};

&pwm1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm1>;
    status = "okay";
};

&pwm2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm2>;
    status = "okay";
};

&pwm3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm3>;
    status = "okay";
};

&reg_arm {
 vin-supply = <&sw1a_reg>;
};

&reg_soc {
 vin-supply = <&sw1c_reg>;
};

&snvs_poweroff {
        status = "okay";
};

//&snvs_pwrkey {
//        status = "okay";
//};

&ssi2 {
    fsl,mode = "i2s-slave";
    status = "okay";
};

&uart1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart1>;
    status = "okay";
};

/*
&uart2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart2>;
    status = "okay";
};

&uart3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart3>;
    status = "okay";
};

&uart4 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart4>;
    status = "okay";
};

&uart5 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart5>;
    status = "okay";
};
*/

&usbh1 {
    reset-gpios = GP_USB_HUB_RST;
    status = "okay";
};

&usbotg {
    vbus-supply = <&reg_otg_pwr>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usbotg>;
    disable-over-current;
    status = "okay";
};

&usdhc1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usdhc1>;
    bus-width = <4>;
    cd-gpios = GP_SD1_CS;
    keep-power-in-suspend;
    status = "okay";
};

&usdhc2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usdhc2>;
    bus-width = <4>;
    keep-power-in-suspend;
    status = "okay";
};

&wdog1 {
    status = "okay";
};
